<section class="container mt64px criar-pensamentos ff-inter">
  <header class="header">
    <h2>Exclusão de pensamento</h2>
  </header>
  <form>
    <label for="conteudo">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="conteudo"
      name="conteudo"
      placeholder="Digite o pensamento"
      disabled
      [(ngModel)]="pensamento.conteudo"
    />
    <label for="autoria">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="autoria"
      name="autoria"
      placeholder="Digite a autoria ou fonte"
      disabled
      [(ngModel)]="pensamento.autoria"
    />
    <label for="modelo">Selecione o modelo do card</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            name="modelo1"
            disabled
            [(ngModel)]="pensamento.modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="assets/img/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria">
            <b>{{ pensamento.autoria }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            name="modelo2"
            disabled
            [(ngModel)]="pensamento.modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="assets/img/modelo2.png" alt="Aspas azul-claras" />
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria">
            <b>{{ pensamento.autoria }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            name="modelo3"
            disabled
            [(ngModel)]="pensamento.modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="assets/img/modelo3.png" alt="Aspas verde-claras" />
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria">
            <b>{{ pensamento.autoria }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo4">
          <input
            type="radio"
            id="modelo4"
            value="modelo4"
            name="modelo4"
            disabled
            [(ngModel)]="pensamento.modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 4</span>
        </label>
        Prévia:
        <div class="modelo modelo4 ff-roboto-mono">
          <img src="assets/img/modelo4.png" alt="Aspas vermelhas" />
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria">
            <b>{{ pensamento.autoria }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button (click)="excluirPensamento()" class="botao botao-deletar">
        Excluir
      </button>
      <button (click)="cancelar()" class="botao botao-cancelar">
        Cancelar
      </button>
    </div>
  </form>
</section>
