<section class="container">
  <div class="busca-container">
    <div class="buscar-pensamentos">
      <input
        type="serch"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="pesquisarPensamentos()"
      />
      <img src="/assets/img/lupa.png" alt="Lupa Azul" />
    </div>
  </div>
  <div class="mural" *ngIf="listaPensamentos.length > 0; else semPensamentos">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento-card [pensamento]="pensamento"></app-pensamento-card>
    </div>
  </div>
</section>
<app-botao-carregar-mais
  [haMaisPensamentos]="haMaisPensamentos"
  (click)="carregarMaisPensamentos()"
>
</app-botao-carregar-mais>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados</p>
  </div>
</ng-template>
