.footer {
  position: fixed;
  bottom: 0; /* usa como referência a parte de baixo da página */
  display: flex;
  justify-content: flex-end;
}

.footer > span {
  font-weight: 300;
  font-size: 1.1rem;
}
