.sidenav {
  background-color: #3498db;
  width: 215px;
}

.sidenav a {
  color: #fff;
}

.sidenav i {
  padding-right: 10px;
  vertical-align: middle;
}

.content {
  padding: 16px;
  background-color: #fff;
}
