.sidenav {
  background-color: #3498db;
  width: 215px;
  left: 12px;
}

.sidenav a {
  color: #fff;
}

.sidenav i {
  padding-right: 10px;
  vertical-align: middle;
}

.content {
  padding: 16px;
  background-color: #fff;
}

/* Regra para dispositivos móveis */
@media (max-width: 767px) {
  .sidenav {
    width: 60px;
  }
}
