<mat-card class="mt64px">
  <mat-card-title>Atualizar Cliente</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [value]="cliente.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Sobrenome"
        [(ngModel)]="cliente.surname"
        name="surname"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Salário (R$)"
        [(ngModel)]="cliente.salario"
        name="salario"
      />
    </mat-form-field>
  </form>
  <div class="buttons">
    <button
      class="button-save"
      mat-raised-button
      color="primary"
      (click)="updateClient()"
    >
      Atualizar
    </button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
